.header {
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  background: #222;
  color: #fff;
  display: grid;
  grid-template-columns: 4fr 1fr;

  border-bottom: #aaa .15rem solid;
}